@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navbar Decoration */
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dfe9f5;
    height: 100vh;
    width: 80px;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

nav.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

nav.active {
    width: 250px;
}

nav #btn {
    position: absolute;
    color: #493f5a;
    top : .7rem;
    left : 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

nav.active #btn {
    color: #907fb2;
    left: 90%;
}

.nav-logo{
    margin-top: .4rem;
    border-radius: 2vh;
    margin-bottom: 2rem;
}

.nav-logo:hover{
    background-color: #f0f6fa;
}

.logo-image{
    margin-top : .4rem;
    width: 200px;
}

nav .logo-image{
    transition: all 0.2s ease;
    opacity: 0;
}

nav.active .logo-image{
    transition: all 0.7s ease;
    opacity: 1;
}

nav.active .nav-logo{
    transition: all 0.7s ease;
    width: calc(100% + 5px);
}

.nav-icon {
    font-size: 20px;
}

nav ul li{
    position: relative;
    list-style-type: none;
    height: 50px;
    margin: 0.8rem auto;
    line-height: 50px;
}

nav ul li a {
    position: fixed;
    color: #493f5a;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

/* .nav-bottom{
    position: fixed;
    bottom: 0;
} */

nav ul li:hover{
    background-color: #f0f6fa;
    border-radius: 9px;
}

nav ul li i{
    min-width: 50px;
    text-align: center;
    border-radius: 12px;
    line-height: 50px;
}

nav .nav-text{
    font-size: 17px;
    display: none;
    transition: all 2s ease;
}

nav.active .nav-text{
    display: flex;
    transition: all 0.9s ease;
}

/* Product Card Design */
.productpage-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 2rem;
}

.productpage-container .title-productpage{
    font-size: 1.5rem;
    color:#444;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: left;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap:2rem;
}

.product-card{
    position: relative;
    width: 250px;
    height: 100%;
    text-align: center;
    padding: 0.8rem;
    background: #dfe9f5;
    cursor: pointer;
}

.product-card:hover{
    background: #F5DFF2;
}

.product-card img{
    width: 225px;
}

.card-text h3{
    padding-top: 0.4rem;
    font-size: 1.5rem;
}

.card-text p{
    text-align: justify;
    font-size: 0.85rem;
    padding-top: 0.4rem;
    padding-bottom: 0.8rem;
}

.card-pricerate{
    display: flex;
    /* background: #493f5a; */
}

.card-pricerate .price{
    font-weight: bold;
    border-radius: 2rem;
    background: #fff;
    width: calc(100% - 25% - 5%);
    margin-right: 5%;
}

.card-pricerate .rate{
    border-radius: 2rem;
    background: #fff;
    width: 25%;
}

.card-pricerate .rate i{
    transition: all 0.5s ease;
}

.card-pricerate .rate i:hover{
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

.card-transaction{
    margin-top: 0.6rem;
    display: flex;
}

.card-transaction .order{
    font-weight: bold;
    border-radius: 0.5rem;
    background: #fff;
    width: calc(100% - 30%);
    height: calc(100% - 30%);
    margin-right: 3%;
    font-size: 1.5rem;
}

.card-transaction .order:hover{
    background: #2b2538;
    color: #fff;
}

.card-transaction .card-wa{
    margin-right: 3%;
}

.card-transaction .card-wa i{
    transition: all 0.3s ease;
    font-size: 2rem;
 }

.card-transaction .card-bag i{
    transition: all 0.3s ease;
    font-size: 2rem;
 }

.card-transaction .card-wa i:hover{
    transition: all 0.3s ease;
    font-size: 2.4rem;
 }

.card-transaction .card-bag i:hover{
    transition: all 0.3s ease;
    font-size: 2.4rem;
}

.main-content{
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
}