@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/***************** navbar Decoration *****************/
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #dfe9f5;
    height: 100vh;
    width: 80px;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

nav.active~.main-content {
    left: 250px;
    width: calc(100% - 250px);
}

nav.active {
    width: 250px;
}

nav #btn {
    position: absolute;
    color: #493f5a;
    top: .7rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

nav.active #btn {
    color: #907fb2;
    left: 85%;
    transform: rotate(180deg);
    transition: all 0.5 ease;
}

.nav-logo {
    margin-top: .4rem;
    border-radius: 2vh;
    margin-bottom: 2rem;
    align-items: center;
}

.nav-logo:hover {
    background-color: #f0f6fa;
}

.logo-image {
    margin: .4rem auto;
    width: 200px;
}

nav .logo-image {
    transition: all 0.2s ease;
    opacity: 0;
}

nav.active .logo-image {
    transition: all 0.7s ease;
    opacity: 1;
}

nav.active .nav-logo {
    transition: all 0.7s ease;
    width: calc(100% + 5px);
}

.nav-icon {
    font-size: 20px;
}

nav ul {
    padding: 0;
}

nav ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    margin: 0.8rem auto;
    line-height: 50px;
}

nav ul li a {
    position: fixed;
    color: #493f5a;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

/* .nav-bottom{
    position: fixed;
    bottom: 0;
} */

nav ul li:hover {
    background-color: #f0f6fa;
    border-radius: 9px;
}

nav ul li i {
    min-width: 50px;
    text-align: center;
    border-radius: 12px;
    line-height: 50px;
}

nav .nav-text {
    font-size: 17px;
    display: none;
    transition: all 2s ease;
}

nav.active .nav-text {
    display: flex;
    transition: all 0.9s ease;
}

/***************** Main Content *****************/
.main-content {
    position: relative;
    background-color: #fff;
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px)
}

/***************** Product Card Design *****************/
.productpage-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}

.productpage-container .title-productpage {
    display: flex;
    font-size: 1.5rem;
    color: #444;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    align-items: center;
}

.productpage-container .title-productpage i {
    font-size: 2rem;
    margin-right: 0.7rem;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 2rem;
    justify-items: center;
}

.dashboardcard-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 2fr));
    column-gap: 7rem;
    row-gap: 3.5rem;
    justify-items: center;
}

#db-color {
    border-radius: 0.2rem;
    background: #FFFBD9;
}

#db-color:hover {
    box-shadow: inset 0 0 0.3rem #907cbc;
}

.dashboard-card {
    padding: 1rem 1rem 0 1rem;
}

.product-card {
    position: relative;
    width: 250px;
    height: 100%;
    text-align: center;
    padding: 0.8rem;
    background: #dfe9f5;
    cursor: pointer;
}

.product-card:hover {
    background: #F5DFF2;
    outline: .2rem solid #222;
    border-radius: .2rem;
}

.product-card img {
    width: 225px;
}

.dash-card-link {
    text-decoration: none;
    color: black;
}

.card-text h3 {
    padding-top: 0.8rem;
    font-size: 1.5rem;
    font-weight: bolder;
}

.card-text p {
    text-align: justify;
    font-size: 0.85rem;
    padding-bottom: 0.4rem;
}

.card-pricerate {
    display: flex;
    /* background: #493f5a; */
}

.card-pricerate .price {
    font-weight: bold;
    border-radius: 2rem;
    background: #fff;
    width: calc(100% - 25% - 5%);
    margin-right: 5%;
}

.card-pricerate .rate {
    border-radius: 2rem;
    background: #fff;
    width: 25%;
}

.card-pricerate .rate i {
    transition: all 0.5s ease;
}

.card-pricerate .rate i:hover {
    transition: all 0.5s ease;
    transform: rotate(90deg);
}

.card-transaction {
    margin-top: 0.6rem;
    display: flex;
    align-items: center;
}

.card-transaction .order {
    font-weight: bold;
    border-radius: 0.5rem;
    background: #fff;
    width: calc(100% - 30%);
    height: calc(100% - 30%);
    margin-right: 3%;
    font-size: 1.5rem;
}

.card-transaction .order:hover {
    background: #2b2538;
    color: #fff;
}

.card-transaction .card-wa {
    margin-right: 3%;
}

.card-transaction .card-wa i {
    transition: all 0.3s ease;
    font-size: 2rem;
}

.card-transaction .card-bag i {
    transition: all 0.3s ease;
    font-size: 1.7rem;
}

.card-transaction .card-wa i:hover {
    transition: all 0.3s ease;
    font-size: 2.4rem;
}

.card-transaction .card-bag i:hover {
    transition: all 0.3s ease;
    font-size: 2rem;
}

/***************** SeacrhBar Decoration *****************/
.search-bar {
    position: relative;
    display: flex;
    height: 4rem;
    width: calc(100% - 2rem);
    margin: 1rem;
    border-radius: 0.4rem;
    background: #f0ecec;
}

.search-bar i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    font-size: 2rem;
    color: #2e2d2d;
}

.search-bar input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 1.4rem;
    font-weight: 400;
    border: none;
    padding: 0 1rem 0 3.7rem;
    background-color: transparent;
}

.search-bar input [type="text"]::placeholder {
    font-size: 1.4rem;
}

/***************** Login and Register *****************/
.login-container {
    display: block;
    padding: 0.5rem;
}

.input-container {
    margin-bottom: 0.5rem;
}

.login-container label {
    padding-left: 0.4rem;
    display: flex;
}

.login-container input {
    background: #f0ecec;
    display: flex;
    padding: 1rem;
    width: 100%;
    margin: 0.2rem 0rem;
    height: 3rem;
    border-radius: 7px;
    border: none;
    outline: none;
}

.forgot-pw {
    text-align: right;
    margin: 0.5rem auto;
    font-size: 0.8rem;
}

.forgot-pw a:hover,
.havent-account a:hover {
    color: #483e5e;
}

.login-container button {
    width: 100%;
    background-color: #907cbc;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 3rem;
    font-weight: bolder;
    font-size: large;
}

.login-container button:hover {
    background-color: #655784;
    color: #fff;
}

.havent-account {
    text-align: center;
    margin: 0.5rem auto;
    font-size: 0.8rem;
}

.login-button {
    margin-top: 0.5rem;
}

.signup-button {
    margin-top: 1.2rem;
}

.eye {
    padding-left: 0.5rem;
}

#eye-hide1 {
    display: none;
}


/***************** Header Login *****************/
.header-login {
    position: relative;
    display: flex;
    justify-content: center;
    height: 3.3rem;
    width: 100%;
    background-color: #b8a4fc;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fcf6c3;
}

.header-login img {
    margin-left: 0.5rem;
    background-color: #655784;
    border-radius: 40px;
    height: 2rem;
}

/***************** Login Layout *****************/

.login-text {
    position: relative;
    margin-top: 1.75%;
    margin-left: 5%;
}

.login-text h1 {
    font-weight: bold;
    margin: 0;
}

.login-text p {
    color: #66757F;
}

.login-text #signup-text1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
}

.login-text #signup-text2 {
    font-size: 2rem;
    font-weight: bold;
}

.login-mainsection {
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;

}

.login-illust {
    width: 80%;
    margin-top: 1rem;
    position: relative;
    display: flex;
    padding-left: 5rem;
}

.illust-container {
    position: relative;
    display: flex;
    justify-content: center;
}

.illust-container img {
    position: relative;
    display: flex;
    width: 80%;
}

.login-form {
    width: 70%;
    margin-right: 10%;
    padding: 1rem 1rem 2rem 1rem;
}

.login-aboutus {
    width: 100%;
    text-align: right;
    margin-bottom: 1rem;
    padding-right: 2rem;
}

.login-aboutus button {
    border-radius: 0.4rem;
    width: 7rem;
    height: 2rem;
    border: none;
    background-color: #B2A4FF;
}

.login-aboutus button:hover {
    background-color: #907cbc;
    color: #fff;
}

/* ************Search History************ */
.search-history {
    position: relative;
    display: block;
    margin: 0rem 1rem;
}

.search-history-head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
}

.search-history-head h3 {
    font-size: 1.5rem;
    order: 1;
    font-weight: bold;
}

.search-history-head i {
    font-size: 1.7rem;
    order: 2;
}

.search-history-box {
    background: #D9D9D9;
    border-radius: 2rem;
    position: relative;
    display: inline-block;
    margin: 0.5rem 0.3rem;
    font-size: 1.2rem;
    padding: 0.1rem 1rem;
}

/* ************CART DECOR************ */
.cart-head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0.5rem;
}

.cart-header-text {
    margin-left: 1rem;
    order: 1;
}

.cart-header-text h1 {
    font-size: 2rem;
    font-weight: bold;
}

.tambah-pesanan::after {
    content: "+ tambah pesanan";
}

.cart-header-button {
    order: 2;
    margin-right: 1rem;
}

.cart-header-button button {
    background-color: #897FBE;
    color: #000;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    text-align: justify;
    font-weight: bold;
    border: none;
    letter-spacing: 1px;
}

.cart-header-button button:hover {
    background-color: #655784;
    color: #fff;
}

.cart-content {

    background-color: #FFFBD9;
    padding: 1rem 2rem 1rem 2rem;
}

.resto-name {
    margin-left: 1.55rem;
}

.resto-name h3 {
    font-weight: 1rem;
}

.resto-menu-container {
    font-weight: 500;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.resto-menu-left {
    position: relative;
    display: block;
    width: 50%;
    order: 1;
}

.resto-menu-name {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.resto-menu-name [type="checkbox"] {
    margin-right: 1rem;
    transform: scale(1.7);
}

.notes-icon {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.notes-icon i {
    margin-right: 0.3rem;
}

.cart-notes input {
    background-color: #D9D9D9;
    position: relative;
    display: flex;
    height: 1rem;
    border-radius: 10rem;
    border: none;
    outline: none;
    margin-top: 0.3rem;
    margin-left: 2rem;
    font-size: small;
    padding: 0.2rem 1rem;
    width: 25%;
}

.cart-notes input[type="text"]::placeholder {
    font-size: small;
}

.resto-menu-right {
    position: relative;
    display: flex;
    order: 2;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3rem;
}

.item-count {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: xx-large;
}

.item-count i {
    margin: 0rem 0.5rem;
}

.total-price {
    font-size: x-large;
}

.cart-order-button {
    background: #fff;
    width: calc(100% - 80px);
    position: fixed;
    display: flex;
    bottom: 0;
    justify-content: center;
    height: 15vh;
    align-items: center;
    box-shadow: 9px -2vh 20px 0 rgb(0, 0, 0, 0.1);
}

.cart-order-button a {
    position: relative;
    display: flex;
    text-decoration: none;
    width: 60%;
}

.cart-order-button button {
    width: 100%;
    background-color: #907cbc;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: large;
    padding: 0.5rem 0rem;
    color: #000;

}

.cart-order-button button:hover {
    background-color: #655784;
    color: #fff;
}

/* Confirm Order Page */
.confirm-box{
    position: relative;
    display: flex;
    width: 95%;
    padding-left: 1rem;
}

.confirm-left-container{
    width: 45%;
    height: 100%;
}

.confirm-right-container{
    width: 45%;
    height: 100%;
    margin-left: 3rem;
}

.confirm-sub-container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    height: 100%;
    width: 100%;
    justify-items: center;
    border-radius: 2vh;
    margin-bottom: 2rem;
}

.confirm-sub-header {
    position: relative;
    display: flex;
    background: #FFF7EE;
    width: 100%;
    justify-content: start;
    margin-bottom: 0.5rem;
    border-radius: 2vh;
}

.confirm-sub-header h3 {
    position: relative;
    background: #FFE3C4;
    font-size: x-large;
    padding: 0.3rem 3rem;
    border-radius: 2vh;
    margin: 0;
}

.confirm-sub-content {
    background: #E1DCFF;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 2vh;
}

.confirm-input-choice {
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.confirm-input-choice label {
    margin-left: 1rem;
    font-size: medium;
    font-weight: bold;
    word-break: break-all;
}

.confirm-input-choice input[type="radio"] {
    transform: scale(1.7);
}

#conf-order {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.fixed-order-detail {
    position: relative;
    display: flex;
    flex-direction: column;
    order: 1;
    width: 75%;
}

.fixed-order-detail-name {
    font-weight: bold;
    font-size: x-large;
}

.fixed-order-detail-price {
    display: flex;
    width: 30vh;
    justify-content: start;
}

.fixed-order-detail-notes {
    display: flex;
    background: white;
    border-radius: 10vh;
    padding-left: 1rem;
    width: 95%;
    margin-top: auto;
}

.fixed-order-image {
    position: relative;
    display: flex;
    flex-direction: column;
    order: 2;
    border-radius: 2vh;
    /* border: 2px solid black; */
}

.fixed-order-image #img-layout {
    width: 115px;
    height: 100px;
    overflow: hidden;
    border-radius: 1vh;
}

.fixed-order-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fixed-order-image div {
    text-align: center;
    font-weight: bold;
    align-items: flex-end;
}

.button-order-now{
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    width: 80%;
    height: 7vh;
    font-size: large;
    font-weight: bold;
    border-radius: 30vh;
    background: #897FBE;
}

.button-order-now:hover{
    background-color: #655784;
    color: #fff;
}

/* Uk. Hp dan tablet*/
@media only screen and (max-width: 915px) {

    /* **************Login Layout************** */
    .login-illust {
        display: none;
    }

    .login-form {
        width: 90%;
        margin-right: 0;
        justify-content: center;
    }

    /* Cart Page */
    .cart-notes input {
        width: 50%;
    }

    .resto-menu-left {
        order: 0;
    }

    .resto-menu-right {
        align-items: center;
        padding-right: 0;
        order: 0;
        justify-content: flex-end;
        width: 100%;
        margin-top: 0.5rem;
    }

    .resto-menu-container {
        font-weight: 500;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    /* cart page */
    .cart-order-button a {
        width: 80%;
    }

    /* Confirm Page */
    .confirm-box{
        flex-direction: column;
    }

    .confirm-left-container{
        width: 95%;
        height: 100%;
    }
    
    .confirm-right-container{
        width: 95%;
        height: 100%;
        margin-left: 0rem;
    }
    .confirm-sub-header h3{
        font-size: large;
    }

    .fixed-order-detail-name{
        font-size: large;
    }
}

@media only screen and (max-width: 630px) {

    /* Cart Page */
    .tambah-pesanan::after {
        color: white;
        content: "+";
        font-size: 20px;
        font-weight: normal;
    }

    .resto-menu-right {
        justify-content: center;
    }

    .resto-menu-left {
        width: 100%;
    }

    .resto-menu-container {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .item-count {
        font-size: large;
    }

    .total-price {
        font-size: large;
    }

    /* confirm page */
    .fixed-order-detail-notes{
        font-size: small;
    }

    .fixed-order-image #img-layout {
        width: 55px;
        height: 50px;
    }

    .fixed-order-image div{
        font-size: small;
    }

}